.login-pf body,
.login-pf {
    background-image: none !important;
}

.card-pf {
    border-radius: 1.2rem;
}

.pf-c-form-control {
    border-radius: 0.6rem !important;
}

.pf-c-button {
    border-radius: 0.6rem !important;
    padding: 0.6rem !important;
}

.pf-m-primary {
    background-color: #3b82f6 !important;
    background-image: none !important;
    border: none !important;
    color: #ffffff !important;
}

.pf-m-primary:hover {
    background-color: #1e6ff5 !important;
    background-image: none !important;
    border: none !important;
    color: #ffffff !important;
}

.bs-sidebar {
    height: 100%;
}

.kc-logo-text,
.kc-logo-text span {
    background-image: none !important;
    text-indent: 0 !important;
    color: #ffffff !important;
    font-size: xxx-large !important;
    padding: 0.5rem !important;
}

.kc-logo-text span {
    display: bloak !important;
    text-indent: 0 !important;
    color: #ffffff !important;
    font-size: xxx-large !important;
}

body,
html {
    --tw-bg-opacity: 1 !important;
    background-color: rgba(17, 24, 39, var(--tw-bg-opacity)) !important;
    height: 100% !important;
}